@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通 */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.btn-left {
  text-align: left;
}

/* タイポグラフィ */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* ヘッダー */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* ユーザー情報テーブル */

#user-table {
  vertical-align: middle;
  text-align: center;
  thead td {
    vertical-align: bottom;
    border-bottom: 3px double #ccc;
  }
}

.btn-user-table {
  margin: 30px 0 10px 0;
}

.btn-edit {
  margin: -20px 0 0 -65px;
}

/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* 上長勤怠情報テーブル */

.news p {
  line-height: 0.8em;
}

.application-form {
  .btn {
    margin-top: 10px;
  }
}

/* ユーザー登録・編集フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ログインフォーム */

.label-login {
  margin-top: 5px;
}

.btn-login {
  margin-top: 10px;
}

.checkbox-login {
  width: auto;
  margin-left: 25px;
  span {
    font-weight: normal;
  }
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }
}

.input-group {
  margin: 20px 0 0 15px;
  p {
    margin-bottom: 10px;
  }
}

.csv-group {
  margin-right: 25%;
}

.btn-csv {
  margin-top: 10px;
}

.paginate-top {
  margin-bottom: -30px;
}
.paginate-bottom {
  margin-top: -30px;
}

.acd-users {
  margin-top: 20px;
}

.collapse-body {
  margin-bottom: 50px;
}

/* 出勤社員一覧ページ */

#attend-table {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  thead td {
    vertical-align: bottom;
    border-bottom: 3px double #ccc;
  }
}

/* 拠点一覧ページ */

#offices-table {
  vertical-align: middle;
  text-align: center;
  thead td {
    vertical-align: bottom;
    border-bottom: 3px double #ccc;
  }
}

.label-office--edit {
  margin-top: 5px;
}

.btn-office--edit {
  margin-top: 10px;
}

.btn-office-new {
  margin: -20px 0 0 -65px;
}

.collapse-edit {
  text-align: left;
}

/* モーダルウィンドウ位置調整 */

.modal-dialog-center {
  padding-top: 10%;
}

/* 基本情報編集モーダルウィンドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

/* デバッグ情報 */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* エラーメッセージ */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
